html,
body {
    background-color: #F7F8FA;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: #46444c;
    font-size: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    /* font-size: 14px; */
}

a {
    color: #5A45FF;
    text-decoration: none;
}

main {
    max-width: 992px;
    margin: auto;
    min-height: 100vh;
}

@media only screen and (min-width: 996px) {
    #c-nav-sm {
        display: none;
    }

    #c-nav {
        display: block;
    }

}

@media only screen and (max-width: 996px) {
    #c-nav {
        display: none;
    }

    #c-nav-sm {
        display: block;
    }
}

.c-navbar-light li a {
    color: rgb(240, 240, 240) !important;
}

.c-navbar-collapse .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    transition: .25s;
}


.c-navbar-collapse .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    /* text-align: center; */
    margin: 2rem 3rem;
}

.c-navbar-collapse .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.c-navbar-collapse .overlay a:hover,
.c-navbar-collapse .overlay a:focus {
    color: #f1f1f1;
}

.c-navbar-collapse .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
}

.c-navbar-collapse ul.dropdown-menu {
    background-color: inherit;
    /* text-align: center; */
}

.c-navbar-collapse ul.dropdown-menu li a.dropdown-item {
    font-size: 1.3rem;
}

.c-navbar-collapse ul.dropdown-menu li a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, .5);
}


@media screen and (max-height: 450px) {
    .c-navbar-collapse .overlay a {
        font-size: 20px
    }

    .c-navbar-collapse .overlay .closebtn {
        font-size: 40px;
        /* top: 15px;
    right: 35px; */
    }
}

.title {
    font-size: 50px;
    /* line-height: 50px;
    margin-bottom: 10px; */
    color: #17161A;
}

.snippet {
    font-family: 'Inconsolta', monospace;
    font-size: 14px;
    padding: 5px;
    background-color: #ECF0F1;
}


.subtitle {
    font-size: 26px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 20px;
}

.status-lamp {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 2px 1px 6px #46444c;
    margin: 0 10px;
    font-size: 1rem;
}

.status-lamp--green {
    background-color: chartreuse;
}

.status-lamp--red {
    background-color: red;
}

.status-lamp--orange {
    background-color: orange;
}

.color-completed {
    color: #008000;
}

.color-waiting {
    color: #17161A;
}

.color-running {
    color: #17A2B8;
}

.color-initializing {
    color: orange;
}

.color-failed {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}

.color-success {
    color: #008000;
}

.inline-block {
    display: inline-block;
}

main code {
    font-size: 16px;
    background: #e6e2ff;
}

.desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.desktop-title {
    /* margin-top: 30px; */
    line-height: 0;
    font-size: 24px;
}


.desktop img {
    max-width: 60%;
}

.vm-card {
    background-image: url('../../public/monitor-tp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table.table tbody th {
    font-weight: 700;
}

#log {
    font-family: 'Inconsolata', monospace;
    text-shadow: 0 0 5px #C8C8C8;
    height: 200px;
    overflow: scroll;
}

.log-error {
    color: red;
}

.log-warn {
    color: #d48806;
}

/* .text-muted {} */
.card .status-text {
    font-size: 1rem;
}

.hidden {
    display: none;
}

.opacity0 {
    opacity: 0;
}

/*
 * Alert components
*/
.alert {
    transition-duration: 2s;
    transition-delay: 2s;
    position: fixed;
    top: 15px;
    transform: translateX(-50%);
    left: 50%;
}

@media screen and(min-width: 776px) {
    .alert {
        width: 100%;
    }
}

#preview {
    all: none;
    /* background: rgb(204, 204, 204); */
    font-family: Arial, Helvetica, sans-serif;
}

#preview page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

#preview page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

#preview page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

#preview page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

#preview page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}

#preview page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}

#preview page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}

@media print {

    #preview,
    #preview page {
        margin: 0;
        box-shadow: 0;
    }
}

#preview>p {
    font-family: arial, sans-serif;
}

.color-success {
    color: #4BB543;
    font-weight: 700;
}

.italic {
    font-style: italic;
    font-weight: 600;
}

#preview {}

.visible {
    visibility: visible;
}

#preview #arrow-ingress {
    position: absolute;
    transform: translateX(-100px);
    visibility: hidden;
}

#preview #arrow-table {
    position: absolute;

    transform: translateX(-100px);
    visibility: hidden;
}

#preview #arrow-remarks {
    position: absolute;

    transform: translateX(-120px);
    visibility: hidden;
}

#chart {
    /* overflow-x: scroll; */
    overflow-y: hidden;
}

.job-card {
    display: flex;
    text-decoration: none;
    color: inherit;
    .card {
        border-radius: 7px;
        border: transparent;
    }

}

.job-card {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 8px #ECF0F1;
    &--title {
        font-weight: 500;
    }
    &:hover {
        color: inherit;
    }
}



#devlabel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c0392b;
    color: #fff;
}