.slide-out {
    /* transform: translate(600px, 0); */
    /* transform: translateX(-250px); */
}
.slide-in {
    /* transform: translateX(250px); */
    /* width: 100%; */
    /* width: 1000px; */
}
table a { text-decoration: none; }
.uppercase {
    text-transform: uppercase;
}

.color-completed {
    color: #008000;
}

.color-waiting {
    color: #17161A;
}

.color-running {
    color: #17A2B8;
}

.color-initializing {
    color: orange;
}

.color-failed {
    color: red;
}