*/1 * * * * /usr/local/bin/python3 /app/fetch_probe_stats.py > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * /usr/local/bin/python3 /app/job_queue.py > /proc/1/fd/1 2>/proc/1/fd/2
*/1 * * * * /usr/local/bin/python3 /app/check_new_builds.py > /proc/1/fd/1 2>/proc/1/fd/2
