.log-show {
    transform: translateY(150px);
}

.log-hide {
    transform: translateY(350px);
}

.log-wrap {}

.log-wrap--title {
    background-color: rgba(200, 200, 200, .5);
}

.log-error {
    color: red;
}

.log-warn {
    color: #d48806;
}