.example::-webkit-scrollbar {
    display: none;
}



.log-hide {
    transform: translate(0, 415px);

}

.log-wrap {}

.log-wrap--title {
    /* background-color: rgba(200, 200, 200, .5); */
    background-color: rgba(225, 177, 44, 1.0);
}

.log-error,
.log-high {
    color: red;
}

.log-warn,
.log-medium {
    color: #d48806;
}

.log-info,
.log-low {
    color: #4364e4;
}